@import url('./normalize.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'SFProDisplay', sans-serif;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Scrollbar style start */
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--secondary);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* Scrollbar style end */

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
